* {
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  width: 100%;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.navigation {
  margin: auto;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #828282;
  width: 51%;

}

.row {
  gap: 40px;
}

.home {
  font-weight: 400;
  font-size: 18px;
  color: #070707;

}

.other_links {
  font-weight: 400;
  font-size: 18px;
  color: #828282;

}

.desc {
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  width: 970px;
  margin: auto;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background: #F6F6F6;
  height: 500px
}

.about_container {
  width: 89%;
  margin: auto;
  flex-direction: column;

}

h2 {
  padding-top: 100px;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
}

article {
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.micro_text {
  flex-direction: column;
  width: 480px;
  margin: auto;
}

.programs {
  margin: auto;
  flex-direction: row;
  justify-content: center;
  gap: 96px;
  padding-top: 50px;
}

.portfolio {
  width: 100%;
  background: #F6F6F6;
  flex-direction: column;
  margin: auto;
}

.portfolio_container {
  text-align: center;
}

.portfolio_text {
  padding-top: 100px;
  padding-bottom: 50px;
}

.banners {
  flex-direction: column;
  justify-content: space-between;
  gap: 150px;
  background: #F6F6F6;
}

.prod_links {
  color: #070707;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.contacts {
  width: 100%;
  background: #ffffff;
  display: flex;
  margin: auto;

}

.contacts_container {
  width: 89%;
  height: 400px;
  margin: auto;
  flex-direction: column;
}

.button {
  text-align: center;
}

.social_links {
  margin: auto;
  width: 89%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.messagebutton {
  width: 180px;
  height: 44px;
  border: 2px solid #ccc;
  background: #000000;
  text-align: center;
  padding: 10px;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  border-radius: 22px;
}

.icons {
  width: 40px;
  height: 40px;
}



