* {
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  width: 1440px;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.navigation {
  margin: auto;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #828282;
  width: 970px;

}

.row {
  gap: 40px;
}

.home {
  font-weight: 400;
  font-size: 18px;
  color: #070707;

}

.other_links {
  font-weight: 400;
  font-size: 18px;
  color: #828282;

}

.desc {
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  width: 970px;
  margin: auto;
}

.about {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: auto;
  background: #F6F6F6;
  height: 500px
}

.about_container {
  width: 970px;
  margin: auto;
  flex-direction: column;

}

h2 {
  padding-top: 100px;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
}

h3 {
}


article {
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.micro_text {
  flex-direction: column;
  width: 480px;
  margin: auto;
}

.programs {
  margin: auto;
  flex-direction: row;
  justify-content: center;
}


